main{
    width: 100%;
    min-height: 100vh;
    div{
        
        h1{
           text-align: center;
        }
    }
    section{
        article{
            width: 100%;
            background-color: #444;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;  
            // div{
            //     margin: .5em;
            //     background-color: aquamarine;
            //     width: 15%;
            //     height: 15em;
            // }
        }
    }
}