main{
    width: 100%;
    min-height: 100vh;
    .upload-control{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: .5em;
        h1{
            font-family: 'Lato', sans-serif;
           text-align: center;
        }
        .add-element{
            font-family: 'Roboto', sans-serif;
            color: #fff;
            border-radius: 10px;
            height: 3em;
            width: 10em;
            border: none;
            outline: none;
            background-color: #8453b6;
            transition: background .3s ease;
            &:hover{
                cursor: cell;
                background-color: #542a7d;
            }
        }
        .offcanvas{
            .offcanvas-body{
                .product-add-form{
                    .form-control{
                        margin: .5em;
                        transition:all .3s ease;
                        &[type='submit']:hover{
                            background-color: #542a7d;
                            color: #ebebeb;
                        }
                    }
                }
            }
        }
    }
    section{
        article{
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;  
            .card{
                margin: .5em;
                background-color: #d2d1d1;
                overflow: hidden;
                .card-img-top{
                    height: 13em;
                }
                width: 18rem;
                max-height: 25em;
                .card-body{
                    .card-text{
                        overflow: hidden;
                        white-space: nowrap;
                        max-height: 25px;
                        text-overflow: ellipsis;
                    }
                }
            }
        
        }
    }
}
@media screen and (max-width: 600px){
    main{
        .upload-control{
            justify-content: center;
            flex-direction: column;
        }
    }
}